/* FONT FAMILIES:
    font-family: 'Oxygen', sans-serif;
    font-family: 'Acme', sans-serif;
    font-family: 'Sunflower', sans-serif;
*/
body{
    width: 100;
}

.col .row {
    margin: 0;
}

/* HEADER */
header.nav-extended {
    font-family: 'Oxygen', sans-serif;
    padding: 15px;
    width: 100%;
}

header div.col.s6 {
    box-sizing: border-box;
    display: inline-flex;
    font-size: 1.2em;
    height: 60px;
}

header div > i.material-icons {
    margin: 0 15px;
}

header div.valign-wrapper > a.white-text.dropdown-trigger {
    border-width: none;
    font-family: 'Acme', sans-serif;
    margin: 0 auto;
    padding: auto;
}

/* MAIN */
main#root {
    height: 15em;
    width: 100%;
}

/* STYLE - PRODUCTS */


div.card-content span.card-title {
    font-family: 'Sunflower', sans-serif;
    font-size: 18px;
}

div.card-content > p {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

/* FOOTER */
.page-footer {
    font-size: 18px;
    padding: 20px 0;
}